<%- include('../partials/head.ejs') %>

<div class="form-signin w-100 m-auto text-center limit-form-width">
    <form action="<%= baseUrl %>" method="post"> 
        <img class="mb-3" src="https://cdn-icons-png.flaticon.com/512/5520/5520706.png" alt="icon" width="72" height="72">
        <h1 class="h3 mb-3 fw-normal">Sign Up</h1>
        <div class="flash-messages">
            <% if(messages.info) { %>
                <% for (let msg of messages.info) { %>
                    <p class="alert alert-warning" role="alert"><%= msg %></p>
                <% } %>
            <% } %>
            <% if(messages.success) { %>
                <% for (let msg of messages.success) { %>
                    <p class="alert alert-success"><%= msg %></p>
                <% } %>
            <% } %>
            <% if(messages.error) { %>
                <% for (let msg of messages.error) { %>
                    <p class="alert alert-danger" role="alert"><%= msg %></p>
                <% } %>
            <% } %>
        </div>
        <div class="form-floating">
            <input type="text" name="username" id="username" class="form-control" placeholder="username" required />
            <label for="username">Username</label>
        </div>
        <div class="form-floating mt-3">
            <input type="password" name="password" id="password" class="form-control" placeholder="Password" required />
            <label for="password">Password</label>
        </div>
        <input type="submit" class="w-100 btn btn-lg btn-primary mt-3" value="Sign Up" />

        <p class="mt-5 mb-3 text-muted">Already have an account? 
            <a href="/user/login">Login here</a>
        </p>
    </form>
</div>

<%- include('../partials/footer.ejs') %>
