<%- include('../partials/head.ejs') %>

<div class="form-container">
    <h1>Sign Up</h1>
    <div class="flash-messages">
        <% if(messages.info) { %>
            <% for (let msg of messages.info) { %>
                <p class="info"><%= msg %></p>
            <% } %>
        <% } %>
        <% if(messages.success) { %>
            <% for (let msg of messages.success) { %>
                <p class="success"><%= msg %></p>
            <% } %>
        <% } %>
        <% if(messages.error) { %>
            <% for (let msg of messages.error) { %>
                <p class="error"><%= msg %></p>
            <% } %>
        <% } %>
    </div>
    <form action="<%= baseUrl %>" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required />
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />
        <!-- <label for="confirm-password">Confirm password</label>
        <input type="password" id="confirm-password" required /> -->
        <input type="submit" value="Sign Up" />
    </form>
</div>
<div class="login">
    <p>Already have an account?</p>
    <a href="/user/login">Login here</a>
</div>

<%- include('../partials/footer.ejs') %>
