<%- include('../partials/head.ejs') %>

<div class="form-container">
    <h1>Login</h1>
    <div class="flash-messages">
        <% if(messages.info) { %>
            <% for (let msg of messages.info) { %>
                <p class="info"><%= msg %></p>
            <% } %>
        <% } %>
        <% if(messages.success) { %>
            <% for (let msg of messages.success) { %>
                <p class="success"><%= msg %></p>
            <% } %>
        <% } %>
        <% if(messages.error) { %>
            <% for (let msg of messages.error) { %>
                <p class="error"><%= msg %></p>
            <% } %>
        <% } %>
    </div>
    <form action="<%= baseUrl %>/login" method="post"> 
        <div class="mb-3" >
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" id="username" class="form-control" required />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password" class="form-control" required />
        </div>
        <input type="submit" class="btn btn-primary" value="Login" />
    </form>
</div>
<div class="sign-up">
    <p>Don't have an account yet?</p>
    <a href="/user/signup">Sign up here</a>
</div>

<%- include('../partials/footer.ejs') %>
