<%- include('../partials/head.ejs') %>
<div  class="container-md">
    <h1>Edit Recipe</h1>
    <main>
        <form
            action="<%= baseUrl %>/recipe/<%= recipe.id %>/edit?_method=put" 
            method="post" 
            enctype="multipart/form-data">
            <div>
                <img src="<%= recipe.img %>" alt="<%= recipe.title %>" class="recipe_img_target" width="300">
                <div class="mb-3">
                    <label for="img" class="form-label m-2">Update image: </label>
                    <input class="form-control" type="file" name="img" id="img">
                </div>
            </div>
        
            <div class="mb-3">
                <label for="title" class="form-label">Title: </label>
                <input class="form-control" placeholder="Title" type="text" name="title" id="title" value="<%= recipe.title %>" required>
            </div>
        
            <div class="mb-3">
                <label for="description" class="form-label">Description: </label>
                <input class="form-control" placeholder="Description" type="textarea" name="description" id="description" value="<%= recipe.description %>">
            </div>
        
            <div class="mb-3">
                <label for="serves" class="form-label">Serves: </label>
                <input class="form-control" placeholder="Number of serves" type="number" name="serves" id="serves" min="1" value="<%= recipe.serves %>" required>
            </div>
        
            <div class="mb-3">
                <label for="cookTime" class="form-label">Cook time: </label>
                <input class="form-control" placeholder="Cook time in minutes" type="number" name="cookTime" id="cookTime" min="1" max="60" value="<%= recipe.cookTime %>"required>
            </div>
            
            <div class="ingredients mb-3">
                <label for="ingredients" class="form-label">Ingredients: </label>
                <% for (let ingredient of recipe.ingredients) { %>
                    <input class="form-control m-1" placeholder="Enter 1 ingredient" type="textarea" name="ingredients" id="ingredients" value="<%= ingredient %>">
                <% } %>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Ambox_emblem_plus.svg/2048px-Ambox_emblem_plus.svg.png" 
                    alt="plus_sign" 
                    class="multi-ingredients m-2 rounded mx-auto d-block" 
                    width="30">
            </div>
            
            <div class="methods mb-3">
                <label for="methods" class="form-label">Methods: </label>
                <% for (let step of recipe.methods) { %>
                    <input class="form-control m-1" placeholder="Enter 1 step" type="textarea" name="methods" id="methods" value="<%= step %>">
                <% } %>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Ambox_emblem_plus.svg/2048px-Ambox_emblem_plus.svg.png" 
                    alt="plus_sign" 
                    class="multi-methods m-2 rounded mx-auto d-block" 
                    width="30">
            </div>
            
            
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </main>
</div>

<%- include('../partials/footer.ejs') %>
