<%- include('../partials/head.ejs') %>

<h1>Edit Recipe</h1>
<main>
    <h1></h1>
    <form 
        action="<%= baseUrl %>/recipe/<%= recipe.id %>/edit?_method=put" 
        method="post" 
        enctype="multipart/form-data">
        <div>
            <img src="<%= recipe.img %>" alt="<%= recipe.title %>" class="recipe_img_target">
            <label for="img">Update image</label>
            <input type="file" name="img" id="img">
        </div>
    
        <div>
            <label for="author">Author</label>
            <input type="text" name="author" id="author" value="<%= recipe.author %>" required>
        </div>
    
        <div>
            <label for="title">Title</label>
            <input type="text" name="title" id="title" value="<%= recipe.title %>" required>
        </div>
    
        <div>
            <label for="description">Description</label>
            <input type="textarea" name="description" id="description" value="<%= recipe.description %>">
        </div>
    
        <div>
            <label for="serves">Serves</label>
            <input type="number" name="serves" id="serves" min="1" value="<%= recipe.serves %>" required>
        </div>
    
        <div>
            <label for="cookTime">Cook time</label>
            <input type="number" name="cookTime" id="cookTime" min="1" max="60" value="<%= recipe.cookTime %>"required>
            <label for="cookTime">mins</label>
        </div>
    
        <div class="ingredients">
            <label for="ingredients">Ingredients</label>
            <input type="textarea" name="ingredients" id="ingredients" value="<%= recipe.ingredients %>">
            <img src="https://i.pinimg.com/474x/46/a7/54/46a7543e3c15128e31050dfd0278e6c3.jpg" 
                alt="plus_sign" 
                class="multi-ingredients" 
                width="30">
        </div> 
    
        <div class="methods">
            <label for="methods">Methods</label>
            <input type="textarea" name="methods" id="methods" value="<%= recipe.methods %>">
            <img src="https://i.pinimg.com/474x/46/a7/54/46a7543e3c15128e31050dfd0278e6c3.jpg" 
                alt="plus_sign" 
                class="multi-methods" 
                width="30">
        </div>
        
        <input type="submit" value="Update">
    </form>
</main>
<%- include('../partials/footer.ejs') %>
