<%- include('../partials/head.ejs') %>

<h1>Edit Recipe</h1>
<main>
    <h1></h1>
    <form 
        action="<%= baseUrl %>/recipe/<%= recipe.id %>/edit?_method=put" 
        method="post" 
        enctype="multipart/form-data">
        <div>
            <label for="img">Upload image</label>
            <input type="file" name="img" id="img" value="<%= recipe.img %>">
        </div>
    
        <div>
            <label for="author">Author</label>
            <input type="text" name="author" id="author" value="<%= recipe.author %>" required>
        </div>
    
        <div>
            <label for="title">Title</label>
            <input type="text" name="title" id="title" value="<%= recipe.title %>" required>
        </div>
    
        <div>
            <label for="description">Description</label>
            <input type="textarea" name="description" id="description" value="<%= recipe.description %>">
        </div>
    
        <div>
            <label for="serves">Serves</label>
            <input type="number" name="serves" id="serves" min="1" value="<%= recipe.serves %>" required>
        </div>
    
        <div>
            <label for="cookTime">Cook time</label>
            <input type="number" name="cookTime" id="cookTime" min="1" max="60" value="<%= recipe.cookTime %>"required>
            <label for="cookTime">mins</label>
        </div>
    
        <div>
            <label for="ingredients">Ingredients</label>
            <input type="textarea" name="ingredients" id="ingredients" value="<%= recipe.ingredients %>">
            <button class="multi-ingredients">Add ingredients</button>
        </div> 
    
        <div>
            <label for="methods">Methods</label>
            <input type="textarea" name="methods" id="methods" value="<%= recipe.methods %>">
            <button class="multi-methods">Add another step</button>
        </div>
        
        <input type="submit" value="Update">
    </form>
</main>
<%- include('../partials/footer.ejs') %>
