<%- include('../partials/head.ejs') %>
<nav>
    <div class="logo"></div>
    <div class="navigation">
        <a href="<%= baseUrl %>/recipe">All Recipes</a>
    </div>
    <div class="user">
        <% if (currentUser) { %>
            <form action="user/logout?_method=delete" method="post">
                <input type="submit" value="Log Out">
            </form>
        <% } else { %>
        <a href="/user/login">Login</a>
        <a href="/user/signup">Sign Up</a>
        <% } %>
    </div>
</nav>
<header>
    <h1>Easy Peasy</h1>
    <h2>Share quick, easy and healthy recipes to the world!</h2>
    <div>
        <a href="<%= baseUrl %>/recipe">View Recipes</a>
        <a href="<%= baseUrl %>/recipe/new">Share Recipes</a>
    </div>
</header>
<main>
    <h2>New Recipes</h2>
    <div class="display"></div>
</main>
<%- include('../partials/footer.ejs') %>
