<%- include('../partials/head.ejs') %>

<header>
    <h1>Easy Peasy</h1>
    <h2>Share quick, easy and healthy recipes to the world!</h2>
    <div>
        <a href="<%= baseUrl %>/recipe">View Recipes</a>
        <a href="<%= baseUrl %>/recipe/new">Share Recipes</a>
    </div>
</header>
<main>
    <h2>New Recipes</h2>
    <div class="display">
        <% for (let i = 0; i < allRecipes.length; i++) { %>
            <div>
                <a href="<%= baseUrl %>/recipe/<%= allRecipes[i].id %>">
                    <img src="<%= allRecipes[i].img %>" alt="<%= allRecipes[i].title %>">
                    <div class="infobar">
                        <h3><%= allRecipes[i].title %></h3>
                        <h3>Cook Time: <%= allRecipes[i].cookTime %>mins</h3>
                    </div>
                </a>
            </div>
        <% } %>
    </div>
</main>

<%- include('../partials/footer.ejs') %>
