<%- include('../partials/head.ejs') %>

<div class="album py-5 bg-light pt-1 pb-1"> 
    <div class="container">
        <h1 class="p-2 display-6">All Recipes</h1>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 max">
        <% for (let recipe of allRecipes) { %>
        <div class="col" height="450">
          <div class="card shadow-sm mb-3 card">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="<%= recipe.img %>" alt="<%= recipe.title %>" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <div class="card-body">
                <h4 class="card-text title-height"><%= recipe.title %></h4>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">
                    <a href="<%= baseUrl %>/recipe/<%= recipe.id %>">View</a></button>
                </div>
                <small class="text-muted">Cook time: <%= recipe.cookTime %> mins</small>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
</div>
        

<%- include('../partials/footer.ejs') %>
