<%- include('../partials/head.ejs') %>

<h1><%= recipe.title %></h1>
<img src="<%= recipe.img %>" alt="<%= recipe.title %>">
<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/scer-DlZkzk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
<p><%= recipe.description %></p>
<p>Serving: <%= recipe.serves %></p>
<p>Cook time: <%= recipe.cookTime %>mins</p>
<p>Created by: <%= recipe.author.username %></p>
<div class="ingredients">
    <h2>Ingredients: </h2>
    <% if (recipe.ingredients.length > 0) { %>
    <ul>
        <% for (let ingredient of recipe.ingredients) { %>
        <li><%= ingredient %></li>
        <% } %>
    </ul> <% } else { %>
        <p>The author has not entered any ingredients yet.</p>
    <% } %>
</div>
<div class="methods">
    <h2>Methods: </h2>
    <% if (recipe.methods.length > 0) { %>
    <ul>
        <% for (let step of recipe.methods) { %>
        <li><%= step %></li>
        <% } %>
    </ul> <% } else { %>
        <p>The author has not entered any methods yet.</p>
    <% } %>
</div>

<% if (currentUser.username === recipe.author.username) { %>
<div>
    <a href="<%= baseUrl %>/recipe/<%= recipe.id %>/edit">Edit Recipe</a>
    <form action="<%= baseUrl %>/<%= recipe.id %>?_method=delete" method="post">
        <input type="submit" value="Delete Recipe">
    </form>
</div>
<% } %>

<%- include('../partials/footer.ejs') %>
